body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.userlist {
    border: 5px solid grey;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; 
}

.userlist tr, .userlist td {
    border: 1px solid grey; 
    padding: 8px; 
    width: 200px;
}

.header {
    border-bottom: 3px solid grey;
    height: 35px;
}

.userlist th.select{
    width: 50px;
    border-right: 1px solid grey ;
}


.userlist td.select {
    width: 50px;
}



.buttons{
    float: right;
    margin-right: 560px;
    margin-top: 10px;
}

.button {
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    padding: 5px 20px;
}


