body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.admin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userlist {
    display: grid;
    column-gap: 10%;
    row-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    padding: 2%;
    margin-left: 12%;
    padding-bottom: 5%;
}


.user {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: none;
    background-color: #f9f9f9;
    border-radius: 20px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 150px;
    min-width: 180px;
	margin: 0;
    text-align: center;
    cursor: pointer;
}

.user.selected {
    background-color: lightblue;
}

.user:hover {
    transform: scale(1.05);
}
.buttons{
    margin-top: 2%;
    margin-left: 40%;
    padding: auto;
}


.button {
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    padding: 5px 20px;
}


