body {
  background-color: rgb(175, 235, 255);
  text-align: center;
  font-family: 'Arial';
}


.LoginButton {
  text-align: center;
  background-color: royalblue;
  color: white;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 100px;
  border-style: none;
  width: 185px;
  margin-bottom: 10px;
  height:25px;
}

.LoginButton:hover{
  background-color: rgb(12, 67, 231);;
}

.login {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 250px;
  border: 2px solid grey;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.login :focus {
  outline: none;
}
.signup {
  margin-top: 25px;
  text-align: left;
  text-shadow: 0px;
  padding: 10px;
  font-weight: 250px;
}


.WelcomeButton {
  margin-left: 5px;
  text-align: left;
  text-decoration-line: dashed;
  border-style: none;
  border-radius: 100px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: normal;
  text-decoration-style: solid;
  
}

.WelcomeButton:hover {
  text-decoration: underline;
}
