body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.homepage {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 0px; 
}

.main_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2px;
    padding-right: 5%;
}

/* New post settings*/
.content {
    display: flex;
    flex-direction: row;
}

.new_post {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: auto;
    width: 50%;
    justify-items: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-input {
    margin: auto;  
    display: flex;
    flex-direction: column;
}

.image_container,
.video_container {
    display: flex;
    align-items: center;  
}


.article_title{
    border-style: none;
    padding: 10px;
    resize: none;
    font-family: 'Arial';
    border-bottom: 1px solid grey;
}

.content {

    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 0cap;
    border-right: 0cap;
    border-style: none;
    padding: 10px;
    resize: none;
    font-family: 'Arial';
    scroll-behavior: smooth;
}

.article_title:focus{
    outline: none;
}


.content:focus{
    outline: none;
}

.image_container p,
.video_container p {
    margin: 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}


.article_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0.3%;
    border-top: 1px solid grey;
    justify-content: space-between;
    padding: 10px; 
}


.upload {
    height:50px;
    width:50px;
    cursor: pointer;
}



.article-image {
    display: none;
    cursor: pointer;
}

.submitbutton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 80px;
    margin-top: 15px;
}

.submitbutton:hover {
    background-color: rgb(12, 67, 231);
}

/* Profile settings*/
.user_profile {
    float: left;
    max-width: 150px; 
    margin-left: 120px;
    padding: 20px; 
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px; 
    font-size: 14px;
    margin-top: 20px;
}


.user_pic{
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-bottom: 10px; 
    object-fit: cover; 
}

.user_name {
    font-weight: bold; 
    margin-bottom: 10px;
}

.user_profile .profile_button,
.user_profile .network_button {
    background-color: #007bff; 
    color: white;
    border: none; 
    padding: 8px 15px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: 12px; 
    margin-bottom: 10px; 
    width: 80%; 
}

.user_profile .profile_button:hover,
.user_profile .network_button:hover {
    background-color: rgb(12, 67, 231);
}

/* Timeline settings*/

.articles_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-between;
    
}

.article {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: none;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
}

.article:last-child {
    margin-bottom: 30px; 
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 10%;
    align-self: flex-start;
    justify-content: space-between;
    margin-left: 10px;
}


.title {
    font-weight: bold;
    flex: 1;
    align-self: flex-start;
    
}

.author_pfp {
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid #ddd;

}

.author_name {
    font-weight: bold;
    cursor: pointer;
}

.author_name:hover {
    text-decoration: underline;
}

.article_content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-align-last: left;
    padding: 20px;
}

.likes_display {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.display_comments {
    cursor: pointer;
}

.display_comments:hover {
    text-decoration: underline;
}


.article_media {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}

.article_picture, .article_video {
    width:300px;
    height:300px;
    border-radius: 8px; 
    object-fit: cover; 
}
.article_video {
   
    max-height: 400px; 
}

.add {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
}

.like_button {
    cursor: pointer;
    width: 80px;
    height:70px;
    margin-bottom: 0px;
    margin-top:40px;
    background-color: #f9f9f9;
}

.add_comment {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 60px;
    justify-content: space-between;
    background-color: #f9f9f9;
}

.new_comment {
    border-style: none;
    padding: 10px;
    resize: none;
    font-family: 'Arial';
    flex:1;
    background-color: #f9f9f9;
}

.new_comment:focus {
    outline: none;
}

.post_button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
}

.post_button:hover {
    background-color: rgb(12, 67, 231);
}

/* comment section settings*/
.comments_section {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial;
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-end;
    width:90%;
}

.comment {
    display: flex;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    flex-direction: column;
    height: auto;
    width: 90%;
    align-self: flex-start;

}

.comment_intro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-start;
}

.comment_author {
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.comment_author:hover {
    text-decoration: underline;
}

.author_pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ccc;
    object-fit: cover;
}

