body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.homepage {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    gap: 0px; 
}

.main_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 2px; 
}

.content {
    display: flex;
    flex-direction: row;
}

.new_post {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: auto;
    width: 40%;
    justify-items: center;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.text-input {
    margin: auto;  
    display: flex;
    flex-direction: column;
}

.image_container,
.video_container {
    display: flex;
    align-items: center;  
}


.article_title{
    border-style: none;
    padding: 10px;
    resize: none;
    font-family: 'Arial';
    border-bottom: 1px solid grey;
}

.content {

    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-left: 0cap;
    border-right: 0cap;
    border-style: none;
    padding: 10px;
    resize: none;
    font-family: 'Arial';
    scroll-behavior: smooth;
}

.article_title:focus{
    outline: none;
}


.content:focus{
    outline: none;
}

.image_container p,
.video_container p {
    margin: 0;
    font-size: 14px;
    color: #555;
    cursor: pointer;
}


.article_buttons {
    display: flex;
    flex-direction: row;
    margin-top: 0.3%;
    border-top: 1px solid grey;
    justify-content: space-between;
    padding: 10px; 
}


.upload {
    height:50px;
    width:50px;
    cursor: pointer;
}

.article-image {
    display: none;
    cursor: pointer;
}

.submitbutton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: 35px;
    width: 80px;
    margin-top: 15px;
}

.submitbutton:hover {
    background-color: rgb(12, 67, 231);
}

.user_profile {
    float: left;
    max-width: 150px; 
    margin-left: 120px;
    padding: 20px; 
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px; 
    font-size: 14px;
    margin-top: 20px;
}


.user_pic{
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    margin-bottom: 10px; 
    object-fit: cover; 
}

.user_name {
    font-weight: bold; 
    margin-bottom: 10px;
}

.user_profile .profile_button,
.user_profile .network_button {
    background-color: #007bff; 
    color: white;
    border: none; 
    padding: 8px 15px; 
    border-radius: 20px; 
    cursor: pointer; 
    font-size: 12px; 
    margin-bottom: 10px; 
    width: 80%; 
}

.user_profile .profile_button:hover,
.user_profile .network_button:hover {
    background-color: rgb(12, 67, 231);
}
