body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.chatbox {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    
}

.texts-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow-y: auto;
    height: 100%;
}

.texts-container::-webkit-scrollbar {
    width: 5px;
}

.texts-container::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 4px;
}

.texts-container::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

.text-bubble-me {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: fit-content;
    width: max-content;
    flex-direction: column;
    justify-content: left;
    background-color: rgb(236, 236, 236);
    padding-left: 5px;
    margin-bottom: 5px;
}

.text-bubble-other {
    display: flex;
    border: 1px solid gray;
    border-radius: 10px;
    height: fit-content;
    width: max-content;
    flex-direction: column;
    justify-content: right;
    padding-left: 5px;
    margin-bottom: 5px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.chat-pfp-me {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5%;
}

.chat-pfp-other {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5%;
}

.time-and-date-me {
    font-size: small;
    text-align: right;
    padding-right: 5px;
}

.time-and-date-other {
    font-size: small;
    text-align: left;
}

.users-chats {
    /* margin-left: 1.5%; */
    width: 20%;
    border: 3px solid rgb(236, 236, 236);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    overflow-y: auto;
}

.users-chats::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
    border-radius: 4px;
}

.users-chats::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

.button-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-button {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    gap: 10%;
    cursor: pointer;
    border: 1px solid;
    margin-bottom: 5px;
}

.user-button:hover{
    background-color: rgb(186, 186, 186);
}

.user-button.active{
    background-color: rgb(186, 186, 186);
}

.text-left{
    display: flex;
    justify-content: right;
    margin-right: 2%;
}

.text-right{
    display: flex;
    justify-content: left;
    margin-left: 2%;
}

.enter-text{
    border-radius: 20px;
    width: 50%;
    height: 20px;
    resize: none;
    overflow-y: auto;
    padding-left: 10px;
    padding-top: 5px;
    vertical-align: middle;
}

.right-side-box{
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 3px solid rgb(236, 236, 236);
    border-radius: 10px;
    margin-left: 1.25%;
    width: 75%;
}

.send-button{
    text-align: center;
    background-color: white;
    color: rgb(0, 123, 255);
    border: none;
    border-radius: 20px;
    font-size: medium;
    cursor: pointer;
    width: 60px;
    height: 25px;
    outline: none;
}

.send-button:hover {
    background-color: rgb(236, 236, 236);
}

.write-bar{
    margin-top: auto;
    padding-bottom: 10px;
}

.button-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.unordered-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

.date-separator{
    font-size: small;
    text-align: center;
    color: gray;
    padding: 5px;
}