body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.searchBar {
    position: relative;
    border-radius: 30px;
    background-color: white;
    width: 35%;
    margin: auto;
    height: 35px;
    margin-top: 20px;
    padding-left: 35px; 
    padding-right: 10px; 
}

.photo {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.search {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    font-size: large;
    padding: 0 10px; 
}

.search:focus {
    outline: none;
}

.dataResult {
    width: 120%; 
    max-width: 600px;
    margin: auto; 
    padding: 10px;
    border-radius: 30px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 0px; 
}

.dataItem {
    display: flex; 
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
    flex-direction: row;
    height: auto; 
}

.dataItem:last-child {
    border-bottom: none;
}

.profile_photo {
    width: 50px;
    height: 50px;
    margin-right: 15px; 
    float: left;
}

.dataItem p {
    margin: 0;
    flex: 1; 
}

.dataItem a {
    display: inline-block;
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.dataItem a:hover {
    text-decoration: underline;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}


.net {
    display: grid;
    column-gap: 1%;
    row-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    padding: 2%;
    margin: 0 auto;
}


.ConnectedUser {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-style: none;
    background-color: #f9f9f9;
    border-radius: 20px;
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100px;
	margin: 0;
    text-align: center;
    
}

.picture{
    border-radius: 50%; 
    width: 80px; 
    height: 80px; 
    margin-top: 10px;
}


.title{
    margin: auto;
    font-weight: bold;
}

.description {
    margin: auto;
}


.profile_link{
    color: #007bff;
    text-decoration: none;
}

.profile_link:hover {
    text-decoration: underline;
}