*{background-color: rgb(175, 235, 255)};

.Background {
  background-color: white;
}

.App {
  text-align: center;
  margin: auto;
  margin-top: 200px;
  width: 350px;
  height: 145px;
  border: 5px solid grey;
  background-color: white;
}

.WelcomeButton {
  text-align: center;
  background-color: royalblue;
  color: white;
  margin: 3px;
  cursor: pointer;
  border: none;
}

.Buttons {
  text-align: center;
  background-color: white;
}
