body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}

.navigation {
    display: inline;
    list-style-type:none;
    overflow:hidden ;
    background-color: darkblue; 
    height: 100px;
    width: 100%;
}

.link {
    color: white;
    text-align: center;
    padding: auto;
    border: 5px solid;
    border-color: darkblue;
    background-color: darkblue; 
    font-size: xx-large;
    text-decoration: none;
}