body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
  }
  

.signUp {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 600px;
    border: 5px solid grey;
    background-color: white;
    padding: 20px;
    justify-content: space-between;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-top: 3px;
}

.button {
    margin-left: 5px;
    cursor: pointer;
}

.submit {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.submit_button {
    background-color: royalblue;
    color: white;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
    padding: 5px 20px;
    margin-left: 250px;
  }

/* Media Queries for responsiveness */
@media (max-width: 600px) {

    .signUp {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        margin-top: 100px;
        width: 400px;
        height: 600px;
        border: 5px solid grey;
        background-color: white;
        padding: 20px;
        justify-content: space-between;
    }
    
   .submit_button {
        background-color: royalblue;
        color: white;
        cursor: pointer;
        border-style: none;
        border-radius: 10px;
        padding: 5px 20px;
        margin-left: 250px;
  }
}
