body {
    background-color: rgb(175, 235, 255);
    text-align: center;
    font-family: 'Arial';
}


.info {
    position: absolute;
    text-align: left;
}

.card {
    padding: 10px;
    padding-top: 2px;
    text-align: left;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50%;
}

.chat-button {
    text-align: center;
    background-color: royalblue;
    color: white;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    width: 145px;
    margin-bottom: 10px;
    height: 35px;
    font-size: medium;
    cursor: pointer;
}

.chat-button:hover {
    background-color: rgb(12, 67, 231);
}

.start-chat-container {
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}